<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kalkulator</title>
</head>
<body>
    

    <% if(message.length > 0 )  { %>
        <% message.forEach((text) => { %>  
            <p> <%= text.message %> </p>
        <% }) %>
    <%  } %>
    <center>
        <h1>Rumus</h1>
        <br>

            <form action="proses" method="post">
                    <input type="number" name="angka1" placeholder="Angka 1"/><br><br>

                    
                    <select name="operator">
                        <option value="">=Pilih Operator=</option>
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                    <br/><br/>

                    <input type="number" name="angka2" placeholder="Angka 2" />
                    <button type="submit">Hasil</button>    
            </form>
    </center>
</body>
</html>